---
layout: default
---
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
            {% if site.author.workHistory %}
            <div style="padding:25px;margin-bottom:20px;" class="card">
              <div class="header header-info text-center">
                <h2>Work History</h2>
              </div>
              <div class="content">
                {% for work in site.author.workHistory %}
                <div style="padding:20px;padding-top:0px;margin-top:20px;{% if forloop.last == false %}margin-bottom:60px;{% endif %}" class="card">
                  {% if work.started %}
                    <button class="btn btn-info btn-fab btn-round" style="margin-left:-50px;margin-top:-30px;">
                      <small>{{ work.started }}</small>
                    </button>
                  {% endif %}
                  {% if work.company %}
                      <h4>{{ work.company }} </h4>
                  {% endif %}
                  <small class="text-muted">
                      {% if work.title %}
                          {{ work.title }}
                      {% endif %}
                      <br/>
                      {% if work.duration %}
                          <i class="fa fa-calendar"></i> {{ work.duration }}
                      {% endif %}
                      {% if work.location %}
                          | <i class="fa fa-map-marker"></i> {{ work.location }}
                      {% endif %}
                  </small>
                  {% if work.description %}
                      <p>{{ work.description }}</p>
                  {% endif %}

                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            {% if site.author.educationHistory %}
            <div style="padding:25px" class="card">
              <div class="header header-info text-center">
                <h2>Education History</h2>
              </div>
              <div class="content">
                {% for education in site.author.educationHistory %}
                  <div style="padding:20px;padding-top:0px;margin-top:20px;{% if forloop.last == false %}margin-bottom:60px;{% endif %}" class="card">
                    {% if education.started %}
                    <button class="btn btn-info btn-fab btn-round" style="margin-left:-50px;margin-top:-30px;">
                      <small>{{ education.started }}</small>
                    </button>
                  {% endif %}
                  {% if education.organization %}
                      <h4>{{ education.organization }} </h4>
                  {% endif %}
                  <small class="text-muted">
                      {% if education.degree %}
                          {{ education.degree }},&nbsp
                      {% endif %}
                      {% if education.major %}
                          {{ education.major }}
                      {% endif %}
                      <br/>
                      {% if education.duration %}
                          <i class="fa fa-calendar"></i> {{ education.duration }}
                      {% endif %}
                      {% if education.location %}
                          | <i class="fa fa-map-marker"></i> {{ education.location }}
                      {% endif %}
                  </small>
                  {% if education.description %}
                      <p>{{ education.description }}</p>
                  {% endif %}

                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
          {% if site.author.programmingSkills %}
          <div style="padding:25px;margin-bottom:20px;" class="card">
            <div class="header header-info text-center">
              <h2>Programming Skills</h2>
            </div>
                {% for programmingSkill in site.author.programmingSkills %}
                  {% if programmingSkill.name %}
                  <span class="caption-skill">{{ programmingSkill.name }}</span>
                  {% endif %}
                  {% if programmingSkill.percentage %}
                  <div class="progress">
                    <div class="progress-bar progress-bar-info" style="width: {{ programmingSkill.percentage }}">
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
          </div>
            {% endif %}
            {% if site.author.databases %}
            <div style="padding:25px;margin-bottom:20px;" class="card">
              <div class="header header-info text-center">
                <h2>Databases</h2>
              </div>
                  {% for database in site.author.databases %}
                    {% if database.name %}
                    <span class="caption-skill">{{ database.name }}</span>
                    {% endif %}
                    {% if database.percentage %}
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" style="width: {{ database.percentage }}">
                      </div>
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
            {% endif %}
            {% if site.author.enviornments %}
            <div style="padding:25px;margin-bottom:20px;" class="card">
              <div class="header header-info text-center">
                <h2>Environments</h2>
              </div>
                  {% for enviornment in site.author.enviornments %}
                    {% if enviornment.name %}
                    <span class="caption-skill">{{ enviornment.name }}</span>
                    {% endif %}
                    {% if enviornment.percentage %}
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" style="width: {{ enviornment.percentage }}">
                      </div>
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
            {% endif %}
            {% if site.author.enviornments %}
            <div style="padding:25px;margin-bottom:20px;padding-left:45px;padding-right:45px;" class="card">
              <div class="header header-info text-center">
                <h2>Awards</h2>
              </div>
                  {% for award in site.author.awards %}
                  <div style="padding:20px;padding-top:0px;margin-top:20px;{% if forloop.last == false %}margin-bottom:60px;{% endif %}" class="card">
                    {% if award.date %}
                    <button class="btn btn-info btn-fab btn-round" style="margin-left:-50px;margin-top:-30px;">
                      <small>{{ award.date }}</small>
                    </button>
                    {% endif %}
                    {% if award.name %}
                        <h4>{{ award.name }}</h4>
                    {% endif %}
                    {% if award.desc %}
                        <p>{{ award.desc }}</p>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
