---
layout: default
---
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
            {% if site.author.workHistory %}
            <div style="padding:25px;margin-bottom:20px" class="card">
              <div class="header header-info text-center">
                <h2>Work History</h2>
              </div>
              <div class="content">
                {% for work in site.author.workHistory %}
                <div style="padding:20px;padding-top:0px;margin-top:20px;{% if forloop.last == false %}margin-bottom:60px;{% endif %}" class="card">
                  {% if work.started %}
                    <button class="btn btn-info btn-fab btn-round" style="margin-left:-50px;margin-top:-30px;">
                      <small>{{ work.started }}</small>
                    </button>
                  {% endif %}
                  {% if work.company %}
                      <h4>{{ work.company }} </h4>
                  {% endif %}
                  <small class="text-muted">
                      {% if work.title %}
                          {{ work.title }}
                      {% endif %}
                      <br/>
                      {% if work.duration %}
                          <i class="fa fa-calendar"></i> {{ work.duration }}
                      {% endif %}
                      {% if work.location %}
                          | <i class="fa fa-map-marker"></i> {{ work.location }}
                      {% endif %}
                  </small>
                  {% if work.description %}
                      <p>{{ work.description }}</p>
                  {% endif %}

                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            {% if site.author.educationHistory %}
            <div style="padding:25px" class="card">
              <div class="header header-info text-center">
                <h2>Education History</h2>
              </div>
              <div class="content">
                {% for education in site.author.educationHistory %}
                  <div style="padding:20px;padding-top:0px;margin-top:20px;{% if forloop.last == false %}margin-bottom:60px;{% endif %}" class="card">
                    {% if education.started %}
                    <button class="btn btn-info btn-fab btn-round" style="margin-left:-50px;margin-top:-30px;">
                      <small>{{ education.started }}</small>
                    </button>
                  {% endif %}
                  {% if education.organization %}
                      <h4>{{ education.organization }} </h4>
                  {% endif %}
                  <small class="text-muted">
                      {% if education.degree %}
                          {{ education.degree }},&nbsp
                      {% endif %}
                      {% if education.major %}
                          {{ education.major }}
                      {% endif %}
                      <br/>
                      {% if education.duration %}
                          <i class="fa fa-calendar"></i> {{ education.duration }}
                      {% endif %}
                      {% if education.location %}
                          | <i class="fa fa-map-marker"></i> {{ education.location }}
                      {% endif %}
                  </small>
                  {% if education.description %}
                      <p>{{ education.description }}</p>
                  {% endif %}

                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
          {% if site.author.programmingSkills %}
          <div style="padding:25px;" class="card">
            <div class="header header-info text-center">
              <h2>Programming Skills</h2>
            </div>
                {% for programmingSkill in site.author.programmingSkills %}
                  {% if programmingSkill.name %}
                  <span class="caption-skill">{{ programmingSkill.name }}</span>
                  {% endif %}
                  {% if programmingSkill.percentage %}
                  <div class="progress">
                    <div class="progress-bar progress-bar-info" style="width: {{ programmingSkill.percentage }}">
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
          </div>
            {% endif %}
            {% if site.author.databases %}
            <div style="padding:25px;" class="card">
              <div class="header header-info text-center">
                <h2>Databases</h2>
              </div>
                  {% for database in site.author.databases %}
                    {% if database.name %}
                    <span class="caption-skill">{{ database.name }}</span>
                    {% endif %}
                    {% if database.percentage %}
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" style="width: {{ programmingSkill.percentage }}">
                      </div>
                    </div>
                    {% endif %}
                  {% endfor %}
            {% endif %}
            <!--

              {% if site.author.enviornments %}
              <h3 class="title with-icon"><span class="fa fa-keyboard-o cat-title"></span> Environments</h3>
              <div class="grid-block">
                  <ul class="list-unstyled list-skills">
                      {% for enviornment in site.author.enviornments %}
                          <li>
                              {% if enviornment.name %}
                                  <span class="caption-skill">{{ enviornment.name }}</span>
                              {% endif %}
                              {% if enviornment.percentage %}
                                  <div class="progress">
                                      <div class="progress-bar" style="width: {{ enviornment.percentage }}">
                                          <span>{{ enviornment.percentage }} </span>
                                      </div>
                                  </div>
                              {% endif %}
                          </li>
                      {% endfor %}
                  </ul>
              </div>
            {% endif %}
            {% if site.author.awards %}
                <h3 class="title with-icon"><span class="fa fa-trophy cat-title"></span>Awards</h3>
                <ul class="timeline">
                    {% for award in site.author.awards %}
                        <li class="timeline-inverted">
                            {% if award.date %}
                                <div class="timeline-badge info">{{ award.date }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if award.name %}
                                        <h4 class="timeline-title">{{ award.name }}</h4>
                                    {% endif %}
                                <div class="timeline-body">
                                    {% if award.desc %}
                                        <p>{{ award.desc }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if site.author.languages %}
                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-globe cat-title"></span> Language Skills</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-strip">
                        {% for language in site.author.languages %}
                            {% if language.name %}
                                {% if language.proficiency %}
                                    <li>
                                        <i class="fa fa-check"></i> <span class="badge badge-green badge-right-float">{{ language.proficiency }}</span>{{ language.name }}
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="deviter"></div>
            <h3 class="title with-icon"><span class="fa fa-location-arrow cat-title"></span> Location</h3>
            <div class="grid-block">
                <iframe src="https://www.google.com/maps/embed/v1/place?q={{ site.author.address }}&key=AIzaSyClEWLh20lxrQBFR7omuuVESviszPxONyk" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div> -->
        </div>
    </div>
</div>
