<nav class="navbar navbar-info">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}">Joshua Hull</a>

        </div>

        <div class="collapse navbar-collapse" id="example-navbar-icons">
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="mailto:joshua.thorild.hull@gmail.com"><i class="fa fa-envelope fa-fw"></i></a>
                </li>
                <li>
                  <a href="http://joshua-hull.github.io/"><i class="fa fa-user fa-fw"></i></a>
                </li>
                <li>
                  <a href="http:////linkedin.com/in/joshua-hull-25551624"><i class="fa fa-linkedin fa-fw"></i></a>
                </li>
                <li>
                  <a href="https://github.com/joshua-hull"><i class="fa fa-github fa-fw"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/joshua_hull"><i class="fa fa-twitter fa-fw"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
